@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="Suppliers" asp-action="Index" class="btn btn-sm btn-primary"> Suppliers List</a>
        <a asp-controller="Quotations" asp-action="Index" class="btn btn-sm btn-primary"> Quotations List</a>
     
    </p>
</div>
